/* body.css */

/* Main content area styling */
body {
    background-color: black;
}

main {
    margin: 20px;
    color: black;
    background-color: black;
}

li {
    margin-left: 1rem; /* Relative unit */
}

.welcome-container, .notes-section, .star-details-section {
    background-color: #1e2023;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: clamp(300px, 80vw, 1440px); /* Dynamic width */
    display: block;
    margin: 0 auto;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

iframe {
    margin-top:20px;
    margin-bottom: 20px;
    width: clamp(300px, 80vw, 1440px); /* Dynamic width */
}

h1, h2, h3 {
    font-size: clamp(18px, 4vw, 32px); /* Dynamic font sizes */
    color: #0077cc;
    margin-bottom: 10px;
}

.welcome-section p, .notes-section li {
    font-size: clamp(14px, 2vw, 16px); /* Dynamic font sizes */
    line-height: 1.5;
}

.spacing {
    margin-top: 20px;
}

/* Image styling */
#stars-gif {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    background-color: black;
}

/* Table styling */
table {
    margin-left: auto;
    margin-right: auto;
    width: clamp(200px, 70vw, 1340px); /* Dynamic width */
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: clamp(1px, 1vw, 8px); /* Dynamic padding */
    font-size:clamp(6px, 1vw, 18px);
    text-align: left;
}

th {
    background-color: #24252A;
    color: white;
}

td {
    background-color: #2d2f33;
    color: white;
}

/* Responsive table for horizontal scrolling */
table {
    overflow-x: visible; /* Allows table to be scrollable horizontally */
    white-space: wrap; /* Prevents wrapping of table contents */
}

