{% extends "layout.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<main>
    <div class="welcome-container">
        <section class="welcome-section">
            <h1>The Big Dipper</h1>
	    <h2>Asterism</h2>
            <p>The Big Dipper is one of the most recognizable asterisms in the night sky, known for its distinctive shape that resembles a large ladle or dipper. It is part of the larger constellation of Ursa Major, the Great Bear, and comprises seven bright stars: Alkaid, Mizar, Alioth, Megrez, Phecda, Merak, and Dubhe.</p>
        </section>
    </div>

    <img src="{{ url_for('static', filename='gifs/rotating_big_dipper.gif') }}" alt="Rotating All Stars" id="stars-gif">

</main>

{% endblock %}

