{% extends layout %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='body.css') }}">
<main>
    <div class="welcome-container">
        <section class="welcome-section">
            <h1>{{ body.name }}</h1>
            <h2>{{ of_type }}</h2>
	    <p>The {{ body.name }} {{ of_type }} contains the following notable stars: {{ star_names | join(', ') }} </p><br>
	    <p> {{ body.description or ' ' }}</p>

        </section>{% if has_notes %}
	<div class='spacing'>
    <h3>Notes:</h3>
    <ul>
        {% for star in stars %}
            {% if star.notes %}
                <li>{{ star.name }}: {{ star.notes }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
	<h3>How to Use:</h3>
	<ul>
		<li> Left Click: Orbital Rotation</li>
		<li> Right Click: Pan </li>
		<li> Scroll Wheel: Zoom</li>

	</ul>
	</div>
	</div>
    <div class=frame>

<iframe id='myIframe' src="{{ url_for('static', filename='htmls/' ~ body.name | lower | replace(' ', '_') ~ '_plot.html') }}" 
         height="800" frameborder="1"></iframe>
<button style="margin-bottom: 20px; width: 175px;" onclick="toggleFullScreen('myIframe')">Toggle Full Screen</button>

    </div>

    <section class="star-details-section">
        <h3>Detailed Star Information:</h3>
        <table>
            <tr>
                <th>Name</th>
		<th>Harvard Revised Name</th>
                <th>Right Ascension (deg)</th>
                <th>Declination (deg)</th>
                <th>Distance (parsecs)</th>
		<th>Vmag (log)</th>
            </tr>
            {% for star in stars %}
                <tr>
                    <td>{{ star.name or star.alt}}</td>
		    <td>{{ star.hr_name }}</td>
                    <td>{{ star.right_ascension }}</td>
                    <td>{{ star.declination }}</td>
                    <td>{{ star.distance }}</td>
		    <td>{{ star.vmag }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</main>

<script>
function toggleFullScreen(iframeId) {
    var iframe = document.getElementById(iframeId);
    if (iframe.requestFullscreen) {
        iframe.requestFullscreen();
    } else if (iframe.mozRequestFullScreen) { /* Firefox */
        iframe.mozRequestFullScreen();
    } else if (iframe.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
        iframe.webkitRequestFullscreen();
    } else if (iframe.msRequestFullscreen) { /* IE/Edge */
        iframe.msRequestFullscreen();
    }
}
</script>


{% endblock %}

