{% extends layout %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contribute.css') }}">

<main>
    <div class="welcome-container">
        <section class="welcome-section">
            <h1>Contribute</h1>
            <p>Help us expand our database by contributing information about constellations and asterisms. Please adhere to the following guidelines:</p>
            <ul>
                <li>Ensure that the name of the constellation or asterism is accurate and spelled correctly.</li>
                <li>Make sure to cite sources used. For example: The Big Dipper is an asterism [1]</li>
		<li>Make a sources section at the end of the description. example: [1] www.source/thissource.com</li>
            </ul>
            
            <form class=form action="{{ url_for('contribute') }}" method="post">

                <div class="form-group">
                    <label for="body">Select Type:</label>
                    <select name="body" id="body">
                        <option value="constellation">Constellation</option>
                        <option value="asterism">Asterism</option>
		    </select>
                </div>

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Big Dipper" required>
                </div>

	  	<div class="form-group">
		        <label for="description">Description:</label>
		        <textarea id="description" name="description" placeholder="Enter a description..." class="description-box" required></textarea>
		    </div>

               <button type="submit">Submit</button>
            </form>
        </section>
    </div>
</main>

{% endblock %}

